.header {
  border-bottom: 1px solid #ececec;
}

.wrap-header-item {
  display: flex;
  align-items: center;
}

// header-nav

.site-nav__list {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-headertext-color);
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--third-headertext-color);
  }
}

.site-nav__link--current {
  color: var(--main-logo-color);
}

.site-nav__item--current {
  display: flex;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background: #2196f3;

    position: absolute;
    bottom: 0;
    left: 0;
  }
}

//  Header contact

.header-contact {
  display: flex;
  margin-left: auto;
}
.header-mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.header-phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header-contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.header-contact__link:hover,
  &.header-contact__link:focus {
    color: var(--third-headertext-color);
  }
}

.header-contact__item:not(:last-child) {
  margin-right: 50px;
}
