:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --main-logo-color: #2196f3;
  --second-logo-color: #000000;
  --main-btn-color: #212121;
  --second-btn-color: #ffffff;
  --main-headertext-color: #212121;
  --second-headertext-color: #757575;
  --third-headertext-color: #2196f3;
  --main-footertext-color: #ffffff;
  --second-footertext-color: rgba(255, 255, 255, 0.6);
  --third-logo-color: #ffffff;
  --third-footertext-color: #2196f3;
  --firs-icon-color: #afb1b8;
}
